<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
      {{ bootstrap.load_css() }}
      <link rel="icon" href="{{ url_for('static', filename='icons/book.svg') }}">
  </head>
  <body>
    <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new Book into the database</h1>

      <!-- This is where your WTForm will go -->
        {% from 'bootstrap5/form.html' import render_field %}
        <form method="post" novalidate>
            {{ render_field(form.title)}}
            {{ render_field(form.author) }}
            {{ render_field(form.rating) }}
            {{ render_field(form.submit, value='Add') }}
            {{ render_field(form.cancel, button_style='danger') }}
        </form>
    </div>
  </div>
</div>
  </body>
</html>
