{% extends 'op.base.html' %}

{% block title %} Edit {{ book.title }} {% endblock %}

{% block body %}
{{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h1>Edit | {{ book.title }}</h1>
                {% from 'bootstrap5/form.html' import render_field %}
                        <form method="post" novalidate>
                            {{ form.csrf_token() }}
                            {{ render_field(form.title, value=book.title) }}
                            {{ render_field(form.author, value=book.author) }}
                            {{ render_field(form.rating, value=book.rating) }}
                            {{ render_field(form.submit, value='Edit', button_style='danger') }}
                            {{ render_field(form.cancel) }}
                        </form>
            </div>
        </div>
    </div>
{% endblock %}